*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'open sans';
    
}
header{

    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff7c, #6dd4fa75, #297fb9f6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff7c, #6dd4fa75, #297fb9f6), url(../img/backgroundHeader.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
header .texto-header{
    font-size: 30px;
    margin-left: 290px;
    margin-top: 140px;
    color: rgb(167, 170, 126);
    
}
.wave{
    position:absolute;
    bottom: 0;
    width: 100%
}
nav{
    text-align: right;
    padding-right:40px
   
}
nav> a{
    color: rgb(55, 56, 38);
    text-decoration: none;
    margin-right: 15px;
    
}
nav> a:hover{
    text-decoration: underline;
}



/* Copa america 2011*/
.contenedor-prologo{
    background:rgba(142, 188, 209, 0.137);
}

.contenedor-prologo .titulo{
    text-align: center;
    font-size: 30px;
    color: rgb(167, 170, 126);
    
    
}
.contenedor-prologo .subtitulo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contenedor-prologo .copa-america-2011{
    display:flex;
    align-items:center;
    
}
.contenedor-prologo .copa-america-2011 img{
    height: 130px;
    width: 270px;
    margin-right: 350px;
    border: 20px color #fff;
    border-radius: 300px;
}
.contenedor-prologo .copa-america-2011 p{
    
    padding-right: 150px;
    margin-left: 350px;
    
    
}
.contenedor-prologo .Sabella-asume{
    margin-top: 40px;
    display: flex;
    
    

    
}
.contenedor-prologo .Sabella-asume img{
    height: 150px;
    width: 300px;
    margin-left: 350px;
    margin-bottom: 30px;
    border: 20px color #fff;
    border-radius: 45%;
}
.contenedor-prologo .Sabella-asume p{
    padding-left: 150px;
    margin-right: 250px;
    
}



/* mundial 2014*/
.contenedor-mundial2014{
    
    background: rgba(242, 245, 220, 0.281);

}
.contenedor-mundial2014 .titulo{
    padding-top: 30px;
    text-align: center;
    color: rgba(166, 218, 81, 0.781);
}
.contenedor-mundial2014 .mundial2014{
    display:flex;
}
.contenedor-mundial2014 .mundial2014 .plantel2014{
    display:block;
}
.contenedor-mundial2014 .mundial2014 .plantel2014 .imagenes-plantel2014{
    width:190px;
    height:130px;
   
   margin-left: 240px;
   border: 3px solid rgba(166, 218, 81, 0.288);
   border-radius: 5%;
  
   margin-top: 120px;
}
.contenedor-mundial2014 .mundial2014 .plantel2014 .epigrafe-plantel{
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
    margin-right: 0%;
    margin-left: 240px;
}
.contenedor-mundial2014 .mundial2014 p{
    margin-top:40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
 }

.contenedor-mundial2014 .mundial2014 .gente2014{
    display: block;
}


.contenedor-mundial2014 .mundial2014 .gente2014 .imagenes-gente2014{
    width:190px;
    height:130px;
    margin-right: 220px;
    border: 3px solid rgba(166, 218, 81, 0.288);
    border-radius: 5%;
    margin-top: 120px;
}




.contenedor-mundial2014 .mundial2014 .gente2014 .epigrafe-gente{
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 0px;
    margin-right: 200px;
    
}


/* Copa america 2015*/
.copa-america-2015{
    
    background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.copa-america-2015 .titulo{
    padding-top: 50px;
    padding-left:500px ;
    color: #ffffffc5;
}
.copa-america-2015 .contenido-copa-america-2015{
    display:flex;
    
}


.copa-america-2015 .contenido-copa-america-2015 .imagenes-copa-america-2015{
    display: block;
    margin-top: 70px;
    margin-right: 320px;
    margin-left:30px ;
    
}

.copa-america-2015 .contenido-copa-america-2015 .texto-copa-america-2015{
    margin-top: 60px;
    margin-left: 300px;
    margin-bottom: 30px;
    padding-right: 80px;
    padding-left: 20px;
    padding-top: 30px;
    width: 350px;
    background: rgba(46, 47, 83, 0.459);
    border: 3px solid #8f1b1b77;
    border-radius: 3%;
    text-align-last: justify;
    
    
    
}

.copa-america-2015 .contenido-copa-america-2015 .imagenes-copa-america-2015 .img1{
    
    
    
    
    
    
    height: 150px;
    width: 200px;
    border: 3px solid #8f1b1b77;
    border-radius: 5%;
    
}
.copa-america-2015 .contenido-copa-america-2015 .imagenes-copa-america-2015 .img2{
    height: 150px;
    width: 200px;
    border: 3px solid #8f1b1b77;
    border-radius: 5%;
    
}


/* COPA CENTENARIO 2016
*/
.contenido-copa-centenario-2016{
    
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c296b), url(../img/backgroundcopacentenario.jpg);;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c296b), url(../img/backgroundcopacentenario.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.contenido-copa-centenario-2016 .titulo{
    color: rgba(219, 224, 146, 0.808);
    padding-top: 50px;
    margin-left: 500px;
}
.contenido-copa-centenario-2016 .introduccion{
    display: flex;
    margin-top: 40px;
}
.contenido-copa-centenario-2016 .introduccion .texto-introduccion{
    color: #fff;
    width: 230px;
    margin-left: 400px;
}
.contenido-copa-centenario-2016  .introduccion .imagen-introduccion{
    height: 100px;
    width: 170px;
    border-radius: 5%;
    margin-left: 70px;
}
.contenido-copa-centenario-2016 .resultado{
    display: flex;
    margin-top: 20px;
}

.contenido-copa-centenario-2016 .resultado .imagen-resultado{
    margin-left: 400px;
    height: 110px;
    width: 180px;
    border-radius: 5%;

}
.contenido-copa-centenario-2016 .resultado .texto-resultado{
    width: 230px;
    margin-left: 70px;
    color: #fff;
}
.contenido-copa-centenario-2016 .conclusion{
    display: flex;
    margin-top: 20px;
}
.contenido-copa-centenario-2016 .conclusion .texto-conclusion{
    color: #fff;
    width: 230px;
    margin-left: 400px;
    margin-bottom: 40px;
}
.contenido-copa-centenario-2016 .conclusion .imagen-conclusion{
    height: 100px;
    width: 170px;
    border-radius: 5%;
    margin-left: 70px;
    margin-top: 30px;
}
.contenedor-footer{
    margin-left: 400px;
    display: flex;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff7c, #6dd4fa75, #297fb9f6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff7c, #6dd4fa75, #297fb9f6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor-footer h4{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.contenedor-footer p{
    margin-top: 15px;
    margin-bottom: 15px;
}
